[package]
name = "cargo-cross"
version = "1.1.16"
edition = "2021"
authors = ["pyh1670605849@gmail.com"]
description = "A cargo subcommand for cross-compilation, no need docker!"
license = "MIT"
repository = "https://github.com/zijiren233/cargo-cross"

[[bin]]
name = "cargo-cross"
path = "src/main.rs"

[dependencies]

[profile.release]
opt-level = "z"
debug = 0
lto = false
codegen-units = 1
incremental = false
panic = "abort"
strip = "symbols"
debug-assertions = false
overflow-checks = false
